/node_modules

# public/js/app.js
# public/css/app.css
# public/js/app.js

# /public/js/app.js
# /public/js

/public/hot
/public/storage

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

!/vendor/laravel/framework/src/Illuminate/Http/Resources/Json/Resource.php
public/.htaccess
public/mix-manifest.json
public/mix-manifest.json
