html {
  scroll-behavior: smooth !important;
}

body {
  // font-size: $font-size-base;
  overflow: hidden;
  text-overflow: ellipsis;
}
a {
  // font-size: $font-size-base;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-application p {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.linkCursor:hover {
  cursor: pointer;
}

.v-app-bar {
  background-color: white !important;
}

.v-main {
  background-color: white;
}

.page-content {
  background-color: white;
}

.v-application {
  // line-height: $line-height-base !important;
}
.v-breadcrumbs a, #pageview p a {
  color: teal !important;
}

a:hover {
  text-decoration: none !important;
}

.top-border--color {
  border-top-style: solid !important;
  border-top-width: 8px !important;
}

.top-border--teal {
  border-top-color: teal !important;
  border-top-style: solid !important;
  border-top-width: 8px !important;
}

.top-border--orange {
  border-top-color: #f57c00 !important;
  border-top-style: solid !important;
  border-top-width: 8px !important;
}

.top-border--grey {
  border-top-color: grey !important;
  border-top-style: solid !important;
  border-top-width: 8px !important;
}

.left-border--teal {
  border-left-color: rgb(21, 165, 165) !important;
  border-left-style: solid !important;
  border-left-width: 4px !important;
}

.left-border--grey {
  border-left-color: lightgrey !important;
  border-left-style: solid !important;
  border-left-width: 1px !important;
}

.freepik,
.freepik a {
  font-size: xx-small !important;
  color: #f5f5f5 !important;
  caret-color: #f5f5f5 !important;
  text-decoration: none !important;
}

.masthead {
  // padding-top: calc(6rem + 104px);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.grey--icon {
  margin-right: 8px !important;
  color: #9e9e9e !important;
  caret-color: #9e9e9e !important;
}

.text-body-1 {
  line-height: 2 !important;
}

.line-height-2 {
  line-height: 2 !important;
}

.line-height-1pt5 {
  line-height: 1.5 !important;
}

.editor {
  outline: none;
  border: 1px solid #9e9e9e;
  border-radius: 0 0 4px 4px;
  padding: 0px;
}

.editor__content {
  padding: 1px;
}

.editor .v-toolbar .v-btn {
  margin: 2px 6px !important;
}

.ProseMirror {
  padding: 1rem;
}

.ProseMirror-focused {
  outline-color: rgb(25, 118, 210);
  border-radius: 0 0 4px 4px !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

@media only screen and (min-width: 992px) {

  .mt-md-30 {
    margin-top: 12rem !important;
  }

  .pb-md-30 {
    padding-bottom: 12rem !important;
  }

  .pt-md-6rem {
    padding-top: 6rem !important;
  }

  .position-md-sticky {
    position: sticky !important;
  }
  .vh-md-100 {
    height: calc(100vh - 64px);
  }

  .w200px {
    width: 200px !important;
  }
  .w400px {
    width: 400px !important;
  }
  .w100 {
    width: 100% !important;
  }
  .w50 {
    width: 50% !important;
  }

}

@media only screen and (max-width: 992px) {

  .align-center-md {
    text-align: center !important;
  }

}

.ProseMirror-selectednode {
  // outline: red dashed 3px !important;
}
